$font-color:#333;
$bgcolor:#fba81a;
$font-family:'Fjalla One',
sans-serif;
@mixin transform($width, $height) {
    width: $width;
    height: $height;
}

header {
    background: $bgcolor;
    text-align: center;
    height: 70px;
    h1 {
        color: $font-color;
        display: inline-block;
        margin-top: 5;
        margin-bottom: 0;
        font-family: $font-family;
        letter-spacing: 2px;
        margin-top: 10
    }
}

body {
    margin: 0;
}

#content {
    height: 100%;
}

#lhs {
    @include transform(60%, inherit);
    border-right: 2px solid $font-color;
    table {
        position: absolute;
        top: 30px;
        left: 90px;
        border-spacing: 0;
        border-collapse: collapse;
        td,
        th {
            text-align: center;
            padding: .5em;
        }
        .quan {
            width: 30px;
        }
        #lthead {
            display: none;
            color: $font-color;
            background: $bgcolor;
            border-radius: 5px;
        }
        
    }
}

#rhs {
    @include transform(40%, inherit);
    position: absolute;
    top: 50;
    right: 0;
    #cart{
        text-align: center;
        color: $font-color;
        font-family: $font-family;
        letter-spacing: 2px;
        top:50px;
        position: relative;
    }
    #fbill{
        text-align: center;
        color: $font-color;
        font-family: $font-family;
        letter-spacing: 2px;
        top:50px;
        position: relative;
        display: none;
    }
    
    #rtable {
        position: absolute;
        text-align: center;
        border-spacing: 0;
        left: 40%;
        top: 120;
        position: absolute;
        td,
        th {
            text-align: center;
            padding: .5em;
        }
        #rthead {
            color: $font-color;
            background: $bgcolor;
            display: none;
        }
    }
    #checkoutbutton {
        background: $bgcolor;
        padding: 6px;
        color: $font-color;
        font-weight: bold;
        border: 1px solid black;
        position: absolute;
        top: 60%;
        left: 45%;
        display: none;
    }
    #checkout {
        display: none;
        border-spacing: 0;
        left: 25%;
        position: absolute;
        top: 120;
        td,
        th {
            text-align: center;
            padding: .5em;
        }
        #cthead {
            color: $font-color;
            background: $bgcolor;
        }
    }
    #gtotal {
        position: relative;
        font-size: 22;
        top: 45%;
        left: 50%;
        font-weight: lighter;
    }
}

#searchbox {
    position: absolute;
    top: 150px;
    left: 200px;
    #searchButton {
        background: $bgcolor;
        padding: 6px;
        color: $font-color;
        font-weight: bold;
        border: 1px solid black;
    }
    #grocerysearch {
        padding: 6px;
        margin-right: 15px;
        width: 300px;
    }
}

#buttons {
    left: 20%;
    top: 70%;
    position: absolute;
    input {
        background: $bgcolor;
        padding: 6px;
        color: $font-color;
        font-weight: bold;
        border: 1px solid black;
    }
    #resetButton {
        margin-right: 15px;
    }
}
footer{
    background: $bgcolor;
    position: absolute;
    width:100%;
    address{
        position: relative;
        left:30px;
        color:$font-color
    }
    h1{
        position: relative;
        font-family: $font-family;
        left:20px;
        color: $font-color;
    }
    #icons{
        position: relative;
        color:$font-color;
        right: 0;
        left: 90%;
    bottom: 80;
    }
}
#mcontent{
    position: relative;
    height: 40%;
    width: 50%;
    top: 120px;
    left: 140px;
    overflow-y: scroll;
    
}
#billing{
    position: relative;
    top: 45%
}