header {
  background: #fba81a;
  text-align: center;
  height: 70px;
}
header h1 {
  color: #333;
  display: inline-block;
  margin-top: 5;
  margin-bottom: 0;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 2px;
  margin-top: 10;
}

body {
  margin: 0;
}

#content {
  height: 100%;
}

#lhs {
  width: 60%;
  height: inherit;
  border-right: 2px solid #333;
}
#lhs table {
  position: absolute;
  top: 30px;
  left: 90px;
  border-spacing: 0;
  border-collapse: collapse;
}
#lhs table td,
#lhs table th {
  text-align: center;
  padding: 0.5em;
}
#lhs table .quan {
  width: 30px;
}
#lhs table #lthead {
  display: none;
  color: #333;
  background: #fba81a;
  border-radius: 5px;
}

#rhs {
  width: 40%;
  height: inherit;
  position: absolute;
  top: 50;
  right: 0;
}
#rhs #cart {
  text-align: center;
  color: #333;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 2px;
  top: 50px;
  position: relative;
}
#rhs #fbill {
  text-align: center;
  color: #333;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 2px;
  top: 50px;
  position: relative;
  display: none;
}
#rhs #rtable {
  position: absolute;
  text-align: center;
  border-spacing: 0;
  left: 40%;
  top: 120;
  position: absolute;
}
#rhs #rtable td,
#rhs #rtable th {
  text-align: center;
  padding: 0.5em;
}
#rhs #rtable #rthead {
  color: #333;
  background: #fba81a;
  display: none;
}
#rhs #checkoutbutton {
  background: #fba81a;
  padding: 6px;
  color: #333;
  font-weight: bold;
  border: 1px solid black;
  position: absolute;
  top: 60%;
  left: 45%;
  display: none;
}
#rhs #checkout {
  display: none;
  border-spacing: 0;
  left: 25%;
  position: absolute;
  top: 120;
}
#rhs #checkout td,
#rhs #checkout th {
  text-align: center;
  padding: 0.5em;
}
#rhs #checkout #cthead {
  color: #333;
  background: #fba81a;
}
#rhs #gtotal {
  position: relative;
  font-size: 22;
  top: 45%;
  left: 50%;
  font-weight: lighter;
}

#searchbox {
  position: absolute;
  top: 150px;
  left: 200px;
}
#searchbox #searchButton {
  background: #fba81a;
  padding: 6px;
  color: #333;
  font-weight: bold;
  border: 1px solid black;
}
#searchbox #grocerysearch {
  padding: 6px;
  margin-right: 15px;
  width: 300px;
}

#buttons {
  left: 20%;
  top: 70%;
  position: absolute;
}
#buttons input {
  background: #fba81a;
  padding: 6px;
  color: #333;
  font-weight: bold;
  border: 1px solid black;
}
#buttons #resetButton {
  margin-right: 15px;
}

footer {
  background: #fba81a;
  position: absolute;
  width: 100%;
}
footer address {
  position: relative;
  left: 30px;
  color: #333;
}
footer h1 {
  position: relative;
  font-family: "Fjalla One", sans-serif;
  left: 20px;
  color: #333;
}
footer #icons {
  position: relative;
  color: #333;
  right: 0;
  left: 90%;
  bottom: 80;
}

#mcontent {
  position: relative;
  height: 40%;
  width: 50%;
  top: 120px;
  left: 140px;
  overflow-y: scroll;
}

#billing {
  position: relative;
  top: 45%;
}

/*# sourceMappingURL=style1.css.map */
